<!-- your html code here -->
<div class="row container-fluid justify-items-center"> 

    <div class="col-1"></div>
    <div class="col-7">
    
        <h1 style="color: light">This First Heading Will Catch Your Eye</h1>

        <p>Donec ullamcroper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.. Preaesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    </div>
    
    <div class="col-2">

        <img src="https://pbs.twimg.com/profile_images/378800000627128706/f28574356f9db3d66efe896a7bd2951a_400x400.jpeg" class="rounded-circle" alt="" width="300" height="300">
    
    </div>
    <div class="col-2"></div>


</div>