<div class="services">
	<div class="row">
		<div class="col-4">
			<img class="rounded-circle h-75 d-inline-block" src="assets/img/2.jpg" style="float: right;">
        </div>
			<div class="col-8">
				<h2><strong>React</strong> <strong style="color: gray;"> JavaScript library for building user interfaces.<strong></h2>
				<p class="d-flex justify-content-center w-50 p-3">React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.</p>
			</div>
		</div>
</div>